{
  "TOKEN": "Nzg3MDU1Mzg4NTQ1NTE1NTUw.X9PYcw.YYP9juAiFlo4Nr4T6iHLr70exas",
  "YOUTUBE_API_KEY": "",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
